@font-face {
    font-family: 'Brandon Grotesque';
    src: url("../assets/fonts/brandon_grotesque_font_family/BrandonGrotesque-Regular.otf") format("opentype");
    src: url("../assets/fonts/brandon_grotesque_font_family/BrandonGrotesque-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'Calibri';
    src: url("../assets/fonts/calibri_font_family/calibri-bold-italic.ttf") format("truetype");
    src: url("../assets/fonts/calibri_font_family/calibri-bold.ttf") format("truetype");
    src: url("../assets/fonts/calibri_font_family/calibri-italic.ttf") format("truetype");
    src: url("../assets/fonts/calibri_font_family/calibri-regular.ttf") format("truetype");
}
:root {
    /*========== Colors ==========*/
    /*====== Elements ======*/
    --text-color: #00284C;
    --primary-color: #225479;
    --secondary-color: #56779a;
    --tertiary-color: #fcb040;
    --side-bar-color: #7E9BBA;

    /*========== Font and typography ==========*/
    --font-family: 'Brandon Grotesque', 'Calibri', sans-serif;
    --text-family: 'Calibri', 'Brandon Grotesque', sans-serif;
}
/*=============== BASE ===============*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: var(--text-family);
    background-color: #fefcf3;
}

.text{
    font-family: var(--text-family);
    color: var(--text-color);
}
a{
    text-decoration: none;
}
/*=============== RESPONSIVE HEADER-MAIN-FOOTER ===============*/
.header{
    background: var(--body-color);
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.logo{
    max-width: 100%;
    height: auto;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-sign{
    align-items: center;
}
footer{
    width: 100%;
    text-align: center;
    color: var(--body-color);
    font-size: var(--smaller-font-size);
    background-color: var(--footer-color);
}
/*=============== HEADER ===============*/
.top-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding: 1em;
}
/*=============== NAVIGATION ===============*/
.responsive-side-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* width: 550px; */
}
.nav-icon{
    width: 45px;
    height: 45px;
    fill: var(--text-color);
}
.nav-text{
    font-size: 20px;
    margin-left: 15px;
}
.nav-link a{
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.menu-bar {
    position: fixed;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-between;
}
.side-bar{
    background-color: var(--side-bar-color);
    width: 269px;
    /* height: calc(100vh - 100px); */
    transition: 0.3s;
    opacity: 1;
    overflow: hidden;
}
.side-bar.close{
    width: 52px;
}
.side-bar.close .text{
    display: none;
}
.menu-links:first-child{
    margin-top: 50px;
}
/*=============== MAIN ===============*/
.main{
    justify-content: normal;
    flex-direction: row;
}
/*======== SIGN IN ========*/
.title-sign{
    margin-top: -100px;
    font-size: 140px;
}
.subtitle-sign{
    font-size: 35px;
    margin-top: -40px;
}
.form-sign{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.email-icon {
    padding-left: 32px;
    background: url("../assets/images/mail.svg") no-repeat left;
    background-size: 27px;
}
.password-icon {
    padding-left: 32px;
    background: url("../assets/images/lock.svg") no-repeat left;
    background-size: 27px;
}
.email-sign, .password-sign, .firstname-user, .name-user, .email-user, .select-user,.submit-create-user{
    width: 350px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 40px;
    background-color: white;
    border: none;
}
.submit-sign, .btn-add-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
}
.submit-sign-message{
    font-size: 35px;
    margin-right: 20px;
    font-weight: bold;
}
.submit-sign-button{
    width: 74px;
    height: 56px;
    border: none;
    background: #FCB040;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-sign-button img{
    width: 30px;
    height: 30px;
}
.submit-sign-button:hover{
    background: #F9A03F;
}
/*======== DASHBOARD ========*/
.dashboard, .user-management{
    /* margin: 0 auto; */
    /* width: auto; */
    /* width: calc(100% - 570px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.title{
    /* font-size: 50px; */
    margin-top: 30px;
    /* margin-bottom: 50px; */
    text-decoration: underline;
}
.boxs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-between; */
    /* width: 100vh; */
    /* margin-right: 100px; */
}
.box{
    width: 600px;
    height: 386px;
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 40px;
    margin-top: 30px;
    margin-right: 5px;
    overflow-y: scroll;
}
.box-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Aligner les éléments horizontalement */
    align-items: center;
}
.box-title .title{
    flex: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.box-title img{
    width: 24px;
    height: 24px;
    /* flex: 1; */
    margin-left: auto;
    margin-right: 16px;
}
.box-underline{
    border-bottom: 1px solid #E5E5E5;
}
.box-title{
    text-decoration: underline;
}
.box-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #E5E5E5;
}
.box-element:hover{
    background-color: #F9F9F9;
}

.box-management{
    width: 600px;
    height: 800px;
}
.radio-button{
    width: 45px;
}
/*======== UserManager ========*/
.firstname-user, .name-user, .email-user, .select-user, .submit-create-user{
    border: 1px solid #C4C4C4;
}
.submit-create-user{
    background-color: var(--tertiary-color);
}
.form-user, .form-training{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mult-select-tag{
    width: 350px;
    height: 50px;
    border-radius: 15px;
    margin-top: 40px;
}
.search-user{
    flex: 1;
    background: 0 0;
    border-radius: 0.25rem;
    padding: 0.45rem;
    margin: 10px;
    color: #2d3748;
    outline: 0;
    border: 1px solid var(--border-color);
}
/*=============== FOOTER ===============*/
footer{
    padding: 1em;
    background-color: var(--footer-color);
    color: var(--body-color);
    font-size: var(--smaller-font-size);
    text-align: center;
    border-top: 10px solid var(--body-color);
}

/*=============== RESPONSIVE ===============*/
@media screen and (max-width: 790px) {
    .title-sign{
        font-size: 100px;
    }
    .subtitle-sign{
        font-size: 30px;
        margin-top: -30px;
    }
    .email-sign, .password-sign{
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
    .email-icon {
        padding-left: 29px;
        background-size: 24px;
    }
    .password-icon {
        padding-left: 29px;
        background-size: 24px;
    }
    .submit-sign{
        margin-top: 80px;
    }
    .submit-sign-message{
        font-size: 30px;
        margin-right: 10px;
    }
    .submit-sign-button{
        width: 50px;
        height: 40px;
    }
    .submit-sign-button img{
        width: 20px;
        height: 20px;
    }
    /*=============== NAV ===============*/
    .side-bar{
        width: 280px;
        overflow: hidden;
    }
    .nav-icon{
    width: 24px;
    height: 24px;
    }
    .nav-text{
        font-size: 16px;
        margin-left: 10px;
    }
    .side-bar.close{
        width: 29px;
    }
    /*=============== DASHBOARD ===============*/
    .box{
        width: 350px;
        height: 300px;
    }
}
.error-message{
    /*display: none;*/
    color: red;
    font-size: 20px;
    margin-top: 10px;
}